aside, aside a {
	color: #666;
	background-color: #fff;
}

main article {
	margin: 0 2% 1%;
}

div.input_prompt {
	display:none;
}


div.output_subarea {
	max-width: 100% !important;
	box-shadow: 0 2px 6px -3px black;
}

div.input {
	flex-direction:column;
}

div.inner_cell {
	box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
}

div.prompt{
	display:none;
}

