aside, aside a {
	color: #d96666;
	background-color: #fff;
}

main article {
	margin: 0 2% 1%;
}

div.input_prompt {
	display:none;
}


div.output {
	box-shadow: inset 0 2px 8px rgba(0,0,0,0.8);
}

div.output_subarea {
	max-width: 100% !important;
	border: 1px inset #fff;
}

div.input {
	flex-direction:column !important;
}

div.inner_cell {
	box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
}

div.prompt{
	display:none;
}

div.inner_cell {
	overflow-x:auto;
}

ol.list-inline li {
	display: -webkit-inline-box;
}



