@import 'https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Open+Sans|Monsieur+La+Doulaise';

img {
	width:100%;
	border: 1px solid #587;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (min-width:500px) { 
img {    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #587;}}

body{font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {font-family:'IM Fell DW Pica SC', serif;}

.jumbotron {
	background-color:#fff;
	
}


.rendered_html :link, a:hover {
	text-decoration: none !important;
}

a{color:#cc8d66;}


a:hover{color: #588c7e;}

.sidebar-nav h4 {color: #588c7e;}

.lead{font-family: 'Monsieur La Doulaise', cursive;color: #588c7e;font-size:30px !important;}

div.input_prompt {
	display:none;
}


div.output {
	box-shadow: inset 0 2px 8px rgba(0,0,0,0.8);
	background-color:#fff
}

main article pre {font-family:monospace;}

div.input_area{
	background: rgb(253,246,227) !important;
	font-size: 14px;
	border-radius:0px;
}

div.output_subarea {
	max-width: 100% !important;
	border: 1px inset #fff;
}

div.input {
	flex-direction:column !important;
}


div.prompt{
	display:none;
}

div.inner_cell {
	overflow-x:auto;
}

ol.list-inline li {
	display: -webkit-inline-box;
}


table {
	color:#666;
	font-size:12px;
	border:#ccc 1px solid;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 0 auto;
}
table th {
	padding:5px;
	border:1px solid #e0e0e0;
	text-align: center;
	
}

table tr {
	text-align: center;
}

table td {
	padding:2px;
	border:1px solid #e0e0e0;
	
}

.tag-cloud span {
    border: 1px solid #fff;
    display: inline-block;
    margin: 1px;
    margin-top:2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 2px;
}

